@import "global";

body {
  opacity: 1;
}

main {
  font-family: "helvetica";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 5vmin;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

p {
  display: block;
  line-height: 1;
  margin: 0;
}

span {
  display: inline-block;
  color: #f3f3f3;
  cursor: pointer;
}

.on {
  color: #333;
}
